.git
.venv
__pycache__
databaseManager/__pycache__
errors/__pycache__
sql
.env
app.log
database_health.log
Makefile.dev
README.md
deploy.sh
sql/secrets/*
secrets/*
api/*.csv
api/*.json
*.rdb
api/.env*
api/data/*
bot/secrets/*
bot/logs/*
bot/.env*
bot/utils/*.csv
bot/utils/*.png
bot/utils/*.ipynb
bot/*.json