.vscode/
.venv/
.env
__pycache__/
*/__pycache__/
*.log
Makefile.dev
api/database_manager/secrets/*
api/secrets/*
api/sql/secrets/*
api/*.csv
api/*.json
*.rdb
api/.env*
bot/secrets/*
bot/logs/*
bot/.env*
api/data/*
bot/utils/*.csv
bot/utils/*.png
bot/utils/*.ipynb
bot/*.json
api/migrate_to_refactored.py
api/backup_original/*