.vscode/
.venv/
.env
__pycache__/
*/__pycache__/
*.log
Makefile.dev
api/database_manager/secrets/*
api/secrets/*
api/sql/secrets/*
api/*.csv
api/*.json
*.rdb
api/.env*
api/data/*
bot/secrets/*
bot/logs/*
bot/.env*